body{
  background: #C9FFBF;
  background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
  background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}


h1{
  text-align: center;
  border-bottom: 2px solid grey;
  margin-bottom: 70px;
  font-size: 150px;
}


table, td {
    border: 5px groove;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    height: 250px;
    width: 90px;
    text-align: center;
    font-size: 85px;
}
